<section class="signup-content">
    <h1>youplay.</h1>
    <section class="signup-section"> 
        <div>
            <img class="signup-image" src="/gamer.svg" alt="gamer-svg">
        </div>

        <form method="POST" action="/signup" class="signup">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input id="password" type="password" name="password" placeholder="Password">
            <input id="confirm-password" type="password" name="passwordConfirmation" placeholder="Confirm password">
            <button id="submit-button" type="submit">Create account</button>
        </form>
    </section>
</section>