<section class="signin-content">
    <h1>youplay.</h1>
    <img class="eatsleepgame" src="/eatsleepgame.svg" alt="eatsleepgame-svg">
    <section class="signin-section">
        <div class="signin-image">
            <img src="/gamermodeon.svg" alt="gamermodeon-svg">
        </div>

        <form method="POST" action="/signin" class="signin">
            <input name="username" type="text" placeholder="Username" autocomplete="off">
            <input name="password" type="password" placeholder="Password" autocomplete="off">
            <button type="submit">Log in</button>
        </form>
    </section>
</section>